


h1{
    text-align: center;
    background-color: rgb(48, 37, 16);
    color: rgb(131, 102, 67);
}

.ResultBar{
    align-self: center;
    background-color: rgb(48, 37, 16);
    color: rgb(131, 102, 67);
    text-align: center;
    
}

.Result{
    align-self: center;
    background-color: rgb(48, 37, 16);
    color: rgb(150, 148, 148);
    text-align: center;
    
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(73, 69, 54);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #GenerateButton:hover {background-color: rgba(73, 73, 73, 0.678);}
  
  #GenerateButton:active {
    background-color: rgba(163, 160, 160, 0.288);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#GenerateButton{
    width: 100%;
    
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(243, 240, 235);
    background-color: #666;
    border: none;
    border-radius: 15px;
   
    
}


#ButtonDiv{

    margin: 20px auto;
    width: 35%;
}

#mainDiv{
    border-radius: 10%;
    background-color: rgb(48, 37, 16);
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    box-shadow: 0 100px #666;
}

#root{
    width: 100%;
    background-color: black;
    background-image: url("../bg.jpg");
    background-repeat: repeat-y;
    background-size: contain; 
    background-position: center;
}